/* admin_styles.css */
body {
    font-family: 'Courier New', monospace;
    background-color: #000;
    color: #00ff00;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #000;
    color: #00ff00;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #00ff00;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #000;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #00ff00;
    color: #000;
}

table tr:nth-child(even) {
    background-color: #222;
}

table tr:hover {
    background-color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #00ff00;
    background-color: #000;
    color: #00ff00;
    font-family: 'Courier New', monospace;
}

input[type="submit"] {
    background-color: #00ff00;
    color: #000;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

a {
    display: block;
    background-color: #00ff00;
    color: #000;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 3px;
}

a:hover {
    background-color: #008000;
}

.button{
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;
}

/* Стили для всего комбо-бокса */
select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

/* Стили для опций комбо-бокса */
select option {
    font-size: 16px;
}