/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.userActions {
    display: block;
    text-align: center;
}

.userActions a,
.userActions button {
    display: block;
    width: 150px;
    height: 40px;
    margin: 5px auto;
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px; /* Размер текста */
    line-height: 40px; /* Выравнивание текста по вертикали */
    text-align: center; /* Выравнивание текста по центру */
    padding: 0; /* Убрать внутренний отступ */
}

.userActions a:hover,
.userActions button:hover {
    background-color: #0056b3;
}


.main-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px; /* Увеличенный размер заголовка */
}

h2 {
    margin-top: 20px;
    color: #007BFF;
    font-size: 20px; /* Увеличенный размер подзаголовков */
}

p {
    color: #666;
    margin-bottom: 20px;
    font-size: 16px; /* Увеличенный размер текста */
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

form {
    margin-top: 20px;
    font-size: 16px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Жирный шрифт для меток */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.flash-messages {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Центрирование сообщений */
}

.flash-message {
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold; /* Жирный текст для большей заметности */
}

.success {
    background-color: #4CAF50;
    color: #fff;
}

.error {
    background-color: #FF3333; /* Красный цвет для сообщений об ошибках */
    color: #fff;
}

.info {
    background-color: #007BFF;
    color: #fff;
}

/* Стили для верхнего меню */
#top-menu {
    background-color: #007BFF;
    padding: 10px;
    text-align: center;
}

#top-menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
