/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container, .register-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

h2 {
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.remember-me-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.remember-label {
    margin-right: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.register-text, .login-text {
    margin-top: 10px;
}

.register-text a, .login-text a {
    color: #007BFF;
    text-decoration: none;
}

.register-text a:hover, .login-text a:hover {
    text-decoration: underline;
}

.flash-messages {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Центрирование сообщений */
}

.flash-message {
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold; /* Жирный текст для большей заметности */
}

.success {
    background-color: #4CAF50;
    color: #fff;
}

.error {
    background-color: #FF3333; /* Красный цвет для сообщений об ошибках */
    color: #fff;
}

.info {
    background-color: #007BFF;
    color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    background-color: #fff;
    padding: 30px; /* Увеличенный внутренний отступ */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px; /* Увеличенная ширина контейнера */
}

h1 {
    color: #333;
    margin-bottom: 20px; /* Увеличенный отступ после заголовка */
}

p {
    color: #666;
    margin-bottom: 20px; /* Увеличенный отступ после абзаца */
}

.buttons {
    margin-top: 20px;
}

.button {
    display: block;
    width: 90%;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #0056b3;
}

/* Стили для верхнего меню */
#top-menu {
    background-color: #007BFF;
    padding: 10px;
    text-align: center;
}

#top-menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}