<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/admin_styles.css')}}" rel="stylesheet" />
    <title>Администратор</title>
</head>
<body>
    <h1>Панель администратора</h1>

    <table>
        <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>ID пользователя</th>
                <th>Роль</th>
                <th>Изменить логин</th>
                <th>Изменить пароль</th>
                <th>Действия</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <form action="/admin" method="POST">
                        <td>{{ user.username }}</td>
                        <td><input type="hidden" name="user_id" value="{{ user.id }}"><input type="text" value="{{user.id}}" disabled></td>
                        <td><input type="text" name="new_username" value="{{ user.username }}"></td>
                        <td><input type="password" name="new_password" placeholder="Новый пароль"></td>
                        <td><input type="submit" name="action" value="Сохранить"> </td>
                        <td><input type="submit" name="action" value="Удалить"> </td>
                    </form>
                    <script>
                        function handleFormSubmit(form) {
                            var buttons = form.getElementsByTagName("input");
                            for (var i = 0; i < buttons.length; i++) {
                                if (buttons[i].type === "submit" && buttons[i].clicked) {
                                    form.action = "/admin/" + buttons[i].value;
                                    return true;
                                }
                            }
                            return false;
                        }

                        var buttons = document.querySelectorAll("input[type=submit]");
                        for (var i = 0; i < buttons.length; i++) {
                            buttons[i].addEventListener("click", function() {
                                for (var j = 0; j < buttons.length; j++) {
                                    buttons[j].clicked = false;
                                }
                                this.clicked = true;
                            });
                        }
                    </script>
                </tr>
            {% endfor %}
            <tr>
                <td><a href="#" class="button" id="addUserButton">Добавить пользователя</a></td>
                <td>
                    <form id="addUserForm" action="/admin" method="POST" style="display: none;">
                        <input type="text" name="username" placeholder="Новый логин">
                        <input type="password" name="password" placeholder="Новый пароль">
                        <select name="role" id="role">
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                        </select>
                        <input type="submit" name="action" value="Добавить">
                    </form>
                </td>
            <script>
                document.getElementById("addUserButton").addEventListener("click", function(e) {
                    e.preventDefault(); // Предотвращение перехода по ссылке
                    var form = document.getElementById("addUserForm");
                    if (form.style.display === "none") {
                        form.style.display = "table-row";
                    } else {
                        form.style.display = "none";
                    }
                });
            </script>
            </tr>
        </tbody>
    </table>
    <div class="buttons">
        <a href="{{ url_for('index') }}" class="button">На главную</a>
        <a href="{{ url_for('logout') }}" class="button">Выход из профиля</a>
    </div>
</body>
</html>
