<!-- encrypt.html -->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шифрование текста</title>
    <link type="text/css" href="{{ url_for('static', filename='css/encrypt_styles.css')}}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div id="top-menu">
            <a href="{{url_for('index')}}">Главная</a>
            <a href="{{url_for('login')}}">Авторизация</a>
            <a href="{{url_for('profile')}}">Личная страница</a>
        </div>

        <h1>Шифрование текста</h1>
        <form action="/encrypt" method="post">
            <label for="text">Введите текст:</label>
            <input type="text" id="text" name="text" required>
            <br>
            <label for="shift">Введите значение сдвига:</label>
            <input type="number" id="shift" name="shift" required>
            <br>
            <input type="submit" value="Зашифровать текст">
        </form>

        {% if encrypted_text %}
            <p><strong>Зашифрованный текст:</strong> {{ encrypted_text }}</p>
        {% endif %}

        <h1>Шифрование файла</h1>
        <form action="/encrypt_file" method="post" enctype="multipart/form-data">
            <label for="file">Загрузите файл:</label>
            <input type="file" id="file" name="file" required>
            <br>
            <input type="number" id="file_shift" name="shift" placeholder="Введите значение сдвига" required>
            <br>
            <input type="submit" value="Зашифровать файл">
        </form>

        {% if encrypted_file_path %}
            <p><strong>Файл успешно зашифрован. <a href="{{ encrypted_file_path }}">Скачать зашифрованный файл</a></strong></p>
        {% endif %}
    </div>
</body>
</html>
