<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <title>Главная страница</title>
</head>
<body>
    <div class="main-container">
         <div id="top-menu">
            <a href="{{url_for('index')}}">Главная</a>
            <a href="{{url_for('login')}}">Авторизация</a>
            <a href="{{url_for('profile')}}">Личная страница</a>
        </div>

        <h1>Многопользовательский сайт с хэшированными паролями</h1>
        <p>Выполнили: Воронин, Ковалев</p>
        <div class="buttons">
            <a href="{{url_for('login')}}" class="button">Авторизация</a>
            <a href="{{url_for('register')}}" class="button">Регистрация</a>
            <a href="{{url_for('profile')}}" class="button">Личная страница</a>
            <a href="{{url_for('encrypt')}}" class="button">Шифрование</a>
             <a href="{{url_for('decrypt')}}" class="button">Расшифровка</a>
            <a href="{{url_for('steganography')}}" class="button">Стенография</a>
        </div>
    </div>
</body>
</html>
