<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <title>Авторизация и Регистрация</title>
</head>
<body>
    <div class="login-container">
        <div id="top-menu">
            <a href="{{url_for('index')}}">Главная</a>
            <a href="{{url_for('login')}}">Авторизация</a>
            <a href="{{url_for('profile')}}">Личная страница</a>
        </div>

        <h2>Авторизация</h2>
        {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
        <form action="/login" method="post">
            <div class="form-group">
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group remember-me-group">
                <label for="remember-me" class="remember-label">Запомнить меня</label>
                <input type="checkbox" id="remember-me" name="remember-me">
            </div>
            <button type="submit">Войти</button>
            <hr align="center" width="400px">
            <p class="register-text">Нет аккаунта? <a href="{{url_for('register')}}">Зарегистрируйтесь</a></p>
        </form>
    </div>
</body>
</html>
