<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/personal_page_styles.css')}}" rel="stylesheet" />
    <title>Личный кабинет</title>
</head>
<body>
    <div class="main-container">
        <div id="top-menu">
            <a href="{{url_for('index')}}">Главная</a>
            <a href="{{url_for('login')}}">Авторизация</a>
            <a href="{{url_for('profile')}}">Личная страница</a>
        </div>
        {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
        <h2>Мой кабинет</h2>
        <p>Имя: {{username}}</p>

        <div class="userActions">
            <button id="changePasswordButton">Изменить пароль</button>
            <form id="changePasswordForm" action="/profile" method="POST" style="display: none;">
                <label for="current_password">Текущий пароль:</label>
                <input type="password" name="current_password" required>
                <label for="new_password">Новый пароль: </label>
                <input type="password" name="new_password" required>
                <input type="submit" value="Сохранить пароль">
            </form>
            <a href="{{ url_for('logout') }}"><button>Выйти из профиля</button></a>
            <button id="deleteAccountButton">Удалить профиль</button>
            <div id="confirmDeleteForm" style="display: none;">
                <form method="post" action="{{ url_for('delete_profile') }}">
                    <p>Вы уверены, что хотите удалить профиль?</p>
                    <button id="confirmDelete" type="submit">Да</button>
                    <button id="cancelDelete">Отмена</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("changePasswordButton").addEventListener("click", function() {
            var form = document.getElementById("changePasswordForm");
            var button = document.getElementById("changePasswordButton");
            if (form.style.display === "none") {
                form.style.display = "block";
                button.textContent = "Отмена"; // Изменено на "Отмена"
            } else {
                form.style.display = "none";
                button.textContent = "Изменить пароль"; // Изменено на "Изменить пароль"
            }
        });
        // Показать форму подтверждения удаления
        document.getElementById("deleteAccountButton").addEventListener("click", function() {
            var confirmDeleteForm = document.getElementById("confirmDeleteForm");
            confirmDeleteForm.style.display = "block";
        });

        // Отменить удаление
        document.getElementById("cancelDelete").addEventListener("click", function() {
            var confirmDeleteForm = document.getElementById("confirmDeleteForm");
            confirmDeleteForm.style.display = "none";
        });

        // Обработка подтверждения удаления
        document.getElementById("confirmDelete").addEventListener("click", function() {
            // Выполнить действия для удаления профиля, например, отправить запрос на сервер
            // После успешного удаления можно перенаправить пользователя на другую страницу или выполнить другие действия
            // Например:
            window.location.href = "{{ url_for('delete_profile') }}";
        });
    </script>
</body>
</html>