<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <title>Регистрация</title>
</head>
<body>
    <div class="register-container">
         <div id="top-menu">
            <a href="{{url_for('index')}}">Главная</a>
            <a href="{{url_for('login')}}">Авторизация</a>
            <a href="{{url_for('profile')}}">Личная страница</a>
        </div>
        <h2>Регистрация</h2>
        {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
        <form action="/register" method="post">
            <div class="form-group">
                <label for="username">Никнейм:</label>
                <input type="text" id="username" name="username" required value="{{ username }}">
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Повторите пароль:</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <button type="submit">Зарегистрироваться</button>
        </form>
        <p class="login-text">Уже есть аккаунт? <a href="{{url_for('login')}}">Войдите</a></p>
    </div>
</body>
</html>
