<!-- templates/steganography.html -->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Стеганография</title>
    <link type="text/css" href="{{ url_for('static', filename='css/encrypt_styles.css')}}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Стеганография</h1>
        <form action="/hide_text" method="post" enctype="multipart/form-data">
            <label for="image">Загрузите изображение:</label>
            <input type="file" id="image" name="image" accept="image/*" required>
            <br>
            <label for="text">Введите текст для сокрытия:</label>
            <textarea id="text" name="text" rows="4" required></textarea>
            <br>
            <input type="submit" value="Скрыть текст в изображении">
        </form>

        {% if hidden_image_path %}
            <p><strong>Текст успешно скрыт в изображении. <a href="{{ hidden_image_path }}" download>Скачать изображение</a></strong></p>
            <img src="{{ hidden_image_path }}" alt="Hidden Image">
        {% endif %}

        <form action="/extract_text" method="post" enctype="multipart/form-data">
            <label for="extract_image">Загрузите изображение для извлечения текста:</label>
            <input type="file" id="extract_image" name="image" accept="image/*" required>
            <br>
            <input type="submit" value="Извлечь текст из изображения">
        </form>

        {% if extracted_text %}
            <p><strong>Извлеченный текст:</strong> {{ extracted_text }}</p>
        {% endif %}

    </div>
</body>
</html>
